BasedOnStyle: google

IndentWidth: 4

# A column limit of 0 means that there is no column
# limit. In this case, clang-format will respect the
# input’s line breaking decisions within statements
# unless they contradict other rules.
ColumnLimit: 0
