%YAML:1.0
# Camera image resolution, 2560x720(30Hz), 1344x376(60Hz)

# Read from shared memory
#readWidth: 1344
#readHeight: 376
#readFrequency: 60
readWidth: 2560
readHeight: 720
readFrequency: 30

# Resolution and frequency used in processing
processWidth: 672
processHeight: 376
processFrequency: 10

# The following camera parameters is based on 1344x376 resolution (i.e. 672x376 each side)
# Left camera intrinsics
camLeft: !!opencv-matrix
    rows: 3
    cols: 3
    dt: d
    data: [ 349.891, 0, 334.352,
            0, 349.891, 187.937,
            0, 0, 1 ]
distLeft: !!opencv-matrix
    rows: 5
    cols: 1
    dt: d
    data: [ -0.173042, 0.0258831, 0, 0, 0 ]

# Right camera intrinsics
camRight: !!opencv-matrix
    rows: 3
    cols: 3
    dt: d
    data: [ 350.112, 0, 345.88,
            0, 350.112, 189.891,
            0, 0, 1 ]
distRight: !!opencv-matrix
    rows: 5
    cols: 1
    dt: d
    data: [ -0.174209, 0.026726, 0, 0, 0 ]

# Camera extrinsics
rotationLeftToRight: !!opencv-matrix
    rows: 3
    cols: 1
    dt: d
    data: [ -0.0132397, 0.021005, -0.00121284 ]
translationLeftToRight: !!opencv-matrix
    rows: 3
    cols: 1
    dt: d
    data: [ -0.12, 0, 0 ]

# Feature detector parameters
detectorType: "ORB"  # available (ORB, BRISK...)
# ORB
numberOfFeatures: 100
scaleFactor: 1.2
levelPyramid: 8

# Image mask (we don't want to detect keypoints in the sky and vehicle body)
#     #########################
#     |-----------------------|
#  h1 |-----------------------|
#     |                       |
#     |                       | (region of interest)
#     |                       |
#  h2 |-----------------------|
#     |-----------------------|
#     #########################
## these numbers are obtained after undistorted and rectified for 1344x376 resolution
h1: 210
h2: 300

# Feature matching parameters
matchRatio: 2    # the distance of a good match should be smaller than minDist*matchRatio
minMatchDist: 30.0 # another number for selecting good matches, from experience
maxVerticalPixelDist: 0.1 # selecting good matching by the vertical coordinates since image have been rectified
maxFeatureAge: 4   # Max age of a feature

#max_num_lost: 10
#min_inliers: 10

# Keyframe selection
keyframe_rotation: 0.1
keyframe_translation: 0.1

# OpenDLV OD4 communication
ellipseID: 112 # sender stamp of proxy-ellipse2n
# ID: # sender stamp of this microservice

gravity: 9.81734 # [m/s^2] gravitational acceleration (might need slightly modification in case of different location)

# IMU paramteres
samplingRate: 200 # [Hz]
## IMU coordinate system    camera coordinate system
##            / x                     / z
##           /                       /
##          ------ y                ------ x
##          |                       |
##          | z                     | y
# The following parameters are in IMU coordinate system
initialBiasAccX: 0.680889
initialBiasAccY: -0.283933
initialBiasAccZ: -0.046435
initialBiasGyrX: -0.000754774
initialBiasGyrY: -0.0023706
initialBiasGyrZ: -8.68224e-05

# IMU noise and bias factor
accNoise: 0.000057 # [g*sqrt(s)] accelerometer measurement noise density, 57 micro-g/sqrt(Hz) from "Ellipse_Series_Leaflet.pdf"
gyrNoise: 4.3633e-5 # [rad/sqrt(s)] gyroscope measurement noise density, 0.15 degree/sqrt(hr)
accBias: 0.000014 # [g] accelerometer bias random walk noise, 14 micro-g
gyrBias: 3.3937e-5 # [rad/s] gyroscope bias random walk noise, 7 degree/h

# Viewer settings
## world frame
##     / x
##    /
##   ------ y
##   |
##   | z
# set the up direction as AxisNegZ
viewScale: 1
pointSize: 2
viewpointX: -0.1
viewpointY: 0
viewpointZ: -10
viewpointF: 2000
